  
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

  .card {
  background-color: rgba(255, 255, 255, 0.9);
  width: 260px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
   box-sizing: border-box;
}

  .container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
}

  .container h1{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 6px;

  }

.card img {
  width: 100%;
  height: 180px;          
  object-fit: cover;      /* crops instead of distorting, use contain if i want full image. */
  border-radius: 8px;
  margin-bottom: 10px;
}
  
  .gallery {
  display: flex;
  flex-wrap: wrap;    /* allows wrapping to next line */
  gap: 25px;          /* spacing between cards */
  justify-content: center;
}
  
  .topnav {
  display: flex;
  align-items: center;
  gap: 12px;
  background: transparent;
  padding: 6px 0;
  flex-wrap: nowrap;
}

/* Links inside the nav */
.topnav a {
  text-decoration: none;
  
  padding: 8px 10px;
  color: #222;
  font-weight: 500;
  border-radius: 6px;
}

.topnav a:hover,
.topnav a:focus {
  background: rgba(0,0,0,0.05);
  outline: none;
}

/* Brand aligns left */
.topnav .brand {
  font-weight: 700;
  background-color: indianred;
  margin-right: 8px;
}

/* The hamburger icon (hidden by default on wdie screens) */
.topnav .icon {
  display: none;
  margin-left: auto; /* puts it on the right */
  font-size: 20px;
  padding: 6px 10px;
}


  
  /* RESPONSIVE BREAKPOINTS */
@media (max-width: 900px) {
  .card {
    width: 45%;
  }
}


@media (max-width: 600px) {
  /* Cards stack vertically and stay centered */
  .gallery {
    justify-content: center;
  }

  .card {
    width: 100%;
    max-width: 320px; /* prevents cards from being too wide */
  }

  /* Banner turns blue at minimum */
  .container h1 {
    background-color: steelblue;
  }

   .topnav a:not(.brand):not(.icon) {
    display: none;
  }
 
  /* show hamburger icon */
  .topnav .icon {
    display: block;
  }

  /* When the nav has .responsive, show links stacked vertically */
  .topnav.responsive {
    background-color: beige;
    position: relative;
    display: block;
    padding: 8px 0;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  /* use the same specificity as the hide rule so it can override it  */
  .topnav.responsive a:not(.brand):not(.icon) {
    display: block;
    text-align: left;
    padding: 10px 12px;
    border-radius: 6px;
  }

  /* Slight visual separation from content */
  .topnav.responsive + h1 {
    margin-top: 48px;
  }
}