  
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

  .card {
  background-color: rgba(255, 255, 255, 0.9);
  width: 260px;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
   box-sizing: border-box;
}

  .container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
}

  .container h1{
    display: flex;
    justify-content: center;
    background-color: indianred;
    padding: 10px 0;
    border-radius: 6px;

  }

.card img {
  width: 100%;
  height: 180px;          
  object-fit: cover;      /* crops instead of distorting, use contain if i want full image. */
  border-radius: 8px;
  margin-bottom: 10px;
}
  
  .gallery {
  display: flex;
  flex-wrap: wrap;    /* allows wrapping to next line */
  gap: 25px;          /* spacing between cards */
  justify-content: center;
}
  
  
  
  /* RESPONSIVE BREAKPOINTS */
@media (max-width: 900px) {
  .card {
    width: 45%;
  }
}


@media (max-width: 600px) {
  /* Cards stack vertically and stay centered */
  .gallery {
    justify-content: center;
  }

  .card {
    width: 100%;
    max-width: 320px; /* prevents cards from being too wide */
  }

  /* Banner turns blue at minimum */
  .container h1 {
    background-color: steelblue;
  }
}